.root{

}

Button {
    -fx-text-fill: #ffdff5;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: linear-gradient(#070101, rgba(0, 0, 0, 0.77));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 1, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;

    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: #910349;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
}
